#mymap {
    background-color: #ddf;
    color: #333;
    border: 1px solid silver;
    box-shadow: 3px 4px 3px 0px silver;
    overflow: hidden;
    line-height: 20px;
}
#mymap input[type="text"] {
    position: absolute;
    z-index: 12;
    top: 10px;
    left:24px;
    text-indent: 4px;
    height: 25px;
    border: 0;
    width: 70%;
    border-radius: 3px;
    outline: none;
}